@import url('https://fonts.googleapis.com/css2?family=Martel:wght@200;600;700&family=Nerko+One&family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}

.nav {
    height: 70px;
    width: 100%;
    padding: 19px 30px;
    background-color: rgb(10, 204, 234);
    position: fixed;
    border-bottom: 1px solid rgb(0, 0, 0);
    position: fixed;
    position: fixed;
    top: 0;
    transition:all 0.9s ease;

}

.header {
    display: inline;
    font-size: 33px;
    font-weight: bold;
    color: white;
    line-height: 30px;
    align-content: center;
}

.menu {
    display: inline;
    float: right;
    font-size: 18px;
    line-height: 30px;
}

.menu a {
    padding: 10px 12px;
    font-weight: 550px;
    color: white;
    transition: all .5s !important;
    text-decoration: none;
    margin-right: 20px;


}

.menu a.active,
.menu a:hover {
    color: cyan;
    background-color: rgba(0, 0, 0, 0.8);
    transition: all 0.5s !important;
}
#active,
.menu a:hover {
    color: cyan;
    background-color: rgba(0, 0, 0, 0.8);
    transition: all 0.5s !important;

}

.dropdown {
    position: relative;
    display: inline-block;
}

.content {
    display: none;
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    min-width: 280px;
    font-size: 16px;
    top: 34px;
    z-index: 1;
    border-top: 1px solid white;
}

.dropdown:hover .content {
    display: block;
}

.content a {
    padding: 12px 10px;
    border-bottom: 1px solid rgb(197, 197, 250);
    display: block;
    transition: all .5s !important;
}

.content a:hover {
    color: cyan;
    background-color: rgba(0, 0, 0, 0.8);

}

#check,
.btn {
    display: none;
}

.menu .signup {
    border-radius: 5px 10px 0px 10px;
    color: black;
    background-color: aliceblue;
}

@media (max-width: 700px) {
    .btn {
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
    }

    .btn label {
        display: inline-block;
        width: 80px;
        height: 95px;
        padding: 25px;
        margin-top: -24px;
    }

    .btn label span {
        display: inline-block;
        width: 20px;
        height: 10px;
        border-top: 3px solid white;
    }

    .btn label:hover,
    #check:checked~.btn label {
        background-color: red;
        transition: all .5s ease;
    }

    .menu {
        position: absolute;
        display: block;
        text-align: center;
        width: 100%;
        background-color: rgba(0, 0, 0, .3);
        top: 70px;
        right: 0;
        overflow-y: hidden;
        transition: all .5s ease-in;
    }

    .menu a {
        display: block;
        width: 100%;
    }

    .signup {
        display: block;
        width: 50%;
        margin: 0 auto;

    }

    #check:not(:checked)~.menu {
        height: 0px;
    }

    #check:checked~.menu {
        height: 100vh;
        overflow-y: auto;
    }

    .menu .dropdown {
        float: none;
        width: 100%;
    }

    .menu .content {
        position: relative;
        background-color: rgb(220, 220, 250);
        top: 0;
        left: 0;
    }

    .menu .content {
        color: darkcyan;
    }
}


/* main */

.backgound {
    background-color: white;
    height: 50vh;
    width: 100%;
    color: black;
    font-size: 10px;
    background-image: url(12.jpg);

}
.isi{
    margin: 10px;
}
.isi h1{
    font-size: 40px;
    font-weight: bold;

}

.isi p{
    font-size: 20px;
    margin-top: 5px;
}